.miuix-scrollbar-track {
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  width: 4px;
  pointer-events: none;
  z-index: 9999;
}

.miuix-scrollbar-thumb {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 2px;
  background-color: var(--miuix-color-on-background);
  opacity: 0;
  transition: opacity 0.4s ease;
}
